<video-js poster={{@posterURL}} class="vjs-theme-city video-player" id={{@id}} playsinline crossorigin>
	<source src={{@streamingURL}} type="application/x-mpegURL" />
	{{yield}}
</video-js>

<img src="/assets/img/pixel-onload.png" alt="pixel-loader" {{on "load" this.loadM3U8}} class="d-none">

{{#if @controls}}
	<div class="position-absolute text-uppercase p-5 d-flex align-items-end justify-content-end bottom-0 end-0" style="z-index:1">
	  <div class="d-flex">
	  	<span class="text-white fs-3 mx-2" {{on 'click' this.restart}}>Click to restart</span>

	  	{{#if this.playing}}
	    	<span class="text-white fs-3 mx-2" {{on 'click' this.playPause}}>Click to pause</span>
	    {{else}}
	    	<span class="text-white fs-3 mx-2" {{on 'click' this.playPause}}>Click to play</span>
	    {{/if}}

	    {{#if this.muted}}
		    <span class="text-white fs-3 mx-2" {{on 'click' this.muteUnmute}}>Click to unmute</span>
			{{else}}
				<span class="text-white fs-3 mx-2" {{on 'click' this.muteUnmute}}>Click to mute</span>
			{{/if}}
	  </div>
	</div>
{{/if}}